@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: Raleway sans-serif;
}

a:link, a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color:green;
    text-decoration: none;
}

p{
    font-size: 13pt;
}

footer{
    padding-top: 100px;
}